Tipos de dados
--------------

string 
int 
float
comlex numbers
boolean

In [2]:
v = 2+3j
type(v)

complex

## Tipos de estruturas de dados

* [Listas](#section_list)
* [Tuplas](#section_tuples)
* [Dicionarios](#section_dictionaries)
* [Set](#section_set)
* [Exercício](#exercicio)

<a href=https://docs.python.org/3/tutorial/datastructures.html>https://docs.python.org/3/tutorial/datastructures.html</a>

Python como calculadora
-----------------------

Antes de tudo o Python funciona como uma calculadora

In [1]:
a = 2
b = 3

print('Isto é uma soma:')
print(a + b)

print('Isto é uma multiplicação:')
print(a * b)

Isto é uma soma:
5
Isto é uma multiplicação:
6

### <a id='section_tuples'>Tuplas</a>

* tuplas são imutáveis

In [2]:
t = tuple()
t

()

In [4]:
t

()

In [5]:
t = ('asc', 2, b, 'asc', 2, 3)
t

('asc', 2, 3, 'asc', 2, 3)

In [6]:
# t[0] = 1

In [7]:
print(t)
t.index(2)

('asc', 2, 3, 'asc', 2, 3)

1

In [8]:
print(t)
t.count(2)

('asc', 2, 3, 'asc', 2, 3)

2

In [9]:
#Contas cervejas possuiem na lista abaixo?
cerveja = ('skol', 'brahma', 'estela', 'heineken')

In [10]:
len(t)

6

### <a id='section_list'>Listas</a>

Estruturas que armazenam dados de *diferentes tipos* e *mutáveis*.

In [11]:
a = list()
b =  list()
a

[]

In [12]:
a = ['asc', 2, b, 'asc', 2, 3]
a

['asc', 2, [], 'asc', 2, 3]

In [13]:
a[0] = 1
a

[1, 2, [], 'asc', 2, 3]

### Alguns métodos

* list.append(x)
* list.extend(L)
* list.insert(i, x)
* list.remove(x)
* list.pop([i])
* list.index(x)
* list.count(x)
* list.sort()
* list.reverse()

del

In [14]:
a.extend?

Signature: a.extend(iterable, /)
Docstring: Extend list by appending elements from the iterable.
Type:      builtin_function_or_method

In [15]:
# Return zero-based index in the list of the first item whose value is equal to x. Raises a ValueError if there is no such item.
# Somente a primeira vez que o objeto aparece
a.index('asc')

3

In [16]:
# Return the number of times x appears in the list.
a.count(2)

2

### List comprehensions

Uma maneira concisa de construir uma lista.

coloque os quadrados de 1 até 5 em uma lista. Algo como o apresentado abaixo:


listOfSquared = [1, 4 , 9, 16, 25]

In [17]:
listOfSquared = list()

for x in range(5):
    pass

Como fazer isso por List comprehensions?

#### List as stack

In [18]:
# Tente executar mais de uma vez esta célula.
b.append(2)
b.append(3)
b.append(0)
b.append(1)
b

[2, 3, 0, 1]

In [19]:
b.pop()

1

In [20]:
#sort in place
b.sort()
b

[0, 2, 3]

In [21]:
# a.sort()

In [22]:
# Imprimir segundo elemento da lista

fruits = ["apple", "banana", "cherry"]
print()

In [23]:
# Mude o valor de apple para kiwi
fruits = ["apple", "banana", "cherry"]

In [24]:
# Adicione uma fruta que você goste

In [25]:
#Retire uma fruta que você goste

### <a id='section_dictionaries'>Dicionários</a>

In [26]:
# Construtor
umDic = dict()

In [27]:
tel = {'jack': 4098, 'sape': 4139}
tel['guido'] = 4127
tel

{'jack': 4098, 'sape': 4139, 'guido': 4127}

In [28]:
tel['jack']

4098

In [29]:
del tel['sape']
tel['irv'] = 4127
tel

{'jack': 4098, 'guido': 4127, 'irv': 4127}

In [30]:
list(tel)

['jack', 'guido', 'irv']

In [31]:
sorted(tel)

['guido', 'irv', 'jack']

In [32]:
'guido' in tel

True

In [33]:
'jack' not in tel

False

In [34]:
#crie um dicionário  mercado com as tupla de cervejas e a lista de frutas

In [35]:
# adicione outro item ao seu dicionário. Talvez legumes.

### <a id='section_set'>Set</a>

In [36]:
# Construtor
umSet = set()

In [37]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)                      # show that duplicates have been removed

'orange' in basket                 # fast membership testing

'crabgrass' in basket


# Demonstrate set operations on unique letters from two words

a = set('abracadabra')
b = set('alacazam')
a                                  # unique letters in a

a - b                              # letters in a but not in b

a | b                              # letters in a or b or both

a & b                              # letters in both a and b

a ^ b                              # letters in a or b but not both

{'banana', 'orange', 'pear', 'apple'}

{'b', 'd', 'l', 'm', 'r', 'z'}

In [38]:
a = {x for x in 'abracadabra' if x not in 'abc'}
a

{'d', 'r'}

### <a id='section_loop'>Técnicas de loop</a>

   + Python tem indentação. 4 espaços em um padrão entre quem programa em Python.

In [39]:
for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

0 tic
1 tac
2 toe

In [40]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k, v in knights.items():
    print(k, v)

gallahad the pure
robin the brave

In [41]:
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q, a in zip(questions, answers):
    print('What is your {0}?  It is {1}.'.format(q, a))

What is your name?  It is lancelot.
What is your quest?  It is the holy grail.
What is your favorite color?  It is blue.

In [42]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for f in sorted(set(basket)):
    print(f)

apple
banana
orange
pear

Usando o break
--------------

In [43]:
for answer in answers:
    if answer is 'lancelot':
        break
print(answer)

lancelot

Pass
----

<a id='exercicio'> Exercícios</a>
==========

Exercício 01
------------

Valor Presente Líquido
----------------------

A fórmula da *valor presente líquido é*:

O valor presente líquido para fluxos de caixa uniformes, pode ser calculado por meio da seguinte fórmula:

$$VPL=\sum _{t=1}^{n} \frac{FC_t}{(1 + i)^t}$$

Onde:

- $FC$ é o fluxo de caixa no período $_{t}$;
- $_{t}$ é o enésimo período no tempo em que o dinheiro será investido no projeto (começa no período 1, quando há efetivamente o primeiro fluxo de dinheiro);
- $n$ é o número de períodos;
 - i é o custo do capital.


Na página do <a href=https://pt.wikipedia.org/wiki/Valor_presente_l%C3%ADquido>Wikipedia</a> existe o exemplo abaixo. 

*A corporação X deve decidir se irá introduzir novo produto no mercado consumidor, ao qual haverá custos de elaboração, divulgação, operacionais, e fluxos de caixa entrantes durante 6 anos. Este projeto terá uma saída de caixa imediata de $\$ \ 125.000,00$, sendo este o tempo $0 \ (zero)_{t}=0$, que pode incluir as máquinas, equipamentos, custos de treinamento de empregados,etc. Outras saídas de caixa são esperadas do 1º ao 6º ano no valor de $\$ \ 25.000$ em cada ano. As entradas de caixa esperam-se que sejam de $\$ \ 60.000$ ao ano. Todos os fluxos de caixa são após pagamento de impostos, e não há fluxo de caixa esperado após o sexto ano. A TMA é de 12% ao ano.*


**Cálcule o valor presente de cada fluxo de caixa**

In [44]:
i = 12

n = 6
saida_caixa = 25 * 1e3
entrada_caixa = 60 * 1e3

31249.999999999996
27901.78571428571
24912.308673469382
22243.13274416909
19859.93995015097
17732.08924120622

### Armazene os valores em lista

É possivel utilizar o seu código para calcular o valor presente líquido do investimento.

Dica:
Tente utilizar listas para realizar o cálculo.

In [45]:
i = 12

n = 6
saida_caixa = 25 * 1e3
entrada_caixa = 60 * 1e3

investimento_inicial = -125 * 1e3
vpl = list()
vpl = investimento_inicial



print(f"O valor presente líquido do investimento é {vpl}")

-93750.0
-65848.21428571429
-40935.90561224491
-18692.772868075823
1167.167082075146
18899.256323281366
O valor presente líquido do investimento é 18899.256323281366

In [46]:
print(f"O valor presente líquido do investimento é {vpl:.2f}")

O valor presente líquido do investimento é 18899.26

Exercício 2
-----------
Faça um programa que peça uma nota, entre zero e dez. Mostre uma mensagem caso o valor seja inválido e continue pedindo até que o usuário informe um valor válido.

In [47]:
numero = input("digite um numero de 0 a 10 ---> ")

digite um numero de 0 a 10 --->  0

TypeError: '>' not supported between instances of 'int' and 'str'